/* MIXINS FOR MEDIA QUERIES ----------- */
.empty-state__button-area button,
.empty-state__button-area a {
  background: #d93337;
  color: #fff;
  margin: 1rem 0;
  width: 17rem;
  height: 3rem; }

.empty-state {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  justify-content: center; }
  .empty-state__img {
    display: flex;
    justify-content: center; }
    .empty-state__img img {
      width: 100px;
      height: 100px; }
  .empty-state__description {
    text-align: center; }
    .empty-state__description p {
      font-size: 15px;
      font-weight: 500;
      opacity: 0.8;
      margin: 3px 0; }
  .empty-state__button-area {
    display: flex;
    justify-content: center; }
    .empty-state__button-area button,
    .empty-state__button-area a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem 0; }
